 .sabit-barr {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(135deg, rgba(0, 217, 171, 0.48) 0%, rgba(255, 255, 255, 0) 100%);
    background-image:  linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("https://cdn.glitch.global/e9458298-3b7b-429c-82ad-a0170a256821/NgZQ0Ln.jpg?v=1731449892762");
    
   color: #FFFFFF;
    text-align: center;
    backdrop-filter: blur(7px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding-top: 10px;
    padding-bottom: 10px;
}
.sabit-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: 
                url("https://cdn.glitch.global/e9458298-3b7b-429c-82ad-a0170a256821/NgZQ0Ln.jpg?v=1731449892762");
    background-size: 100%;
    background-position: 0% 60%;
    color: #FFFFFF;
    text-align: center;
    backdrop-filter: blur(7px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding-top: 10px;
    padding-bottom: 10px;
    opacity: 0.9;
}

/* Geniş ekranlar için (örneğin masaüstü) */
@media (min-aspect-ratio: 16/9) {
    .sabit-bar {
        background-size: 100%; /* Geniş ekranlarda alanı doldurur */
        background-position: 0% 90%; /* Görüntüyü biraz daha aşağı alır */
      text-shadow: 0px 0px 5px rgba(0, 0, 0, 01);
    }
}

/* Yüksek ekranlar (örneğin dikey telefonlar) */
@media (max-aspect-ratio: 9/16) {
    .sabit-bar {
        background-size: 130%; /* Dikey ekranlarda büyüklüğü artır */
        background-position: 12% 99%; /* Biraz yukarıdan başlar */
      text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
    }
}
.sort-bar {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    margin-top: 100px;
    padding: 20px;
    color: white;
    background: linear-gradient(135deg, rgba(0, 217, 171, 0.48) 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 10px;
    backdrop-filter: blur(7px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: fit-content;
    margin-left: 20px;
    margin-right: 20px;
    position: sticky;
    top: 130px; /* sabit bar yüksekliği + boşluk */
    z-index: 999;
}



.sort-bar select {
    padding: 5px;
    font-size: 16px;
    background-color: #028BBA;
    backdrop-filter: blur(7px);
    color: white;
    border-radius: 5px;
}
      
      body {
            font-family: "IBM Plex Mono", monospace;
            font-weight: 700;
            font-style: normal;
            margin: 0;
            padding: 0;
            background-color: #026b8b;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%2300141d' fill-opacity='0.51'%3E%3Cpath fill-rule='evenodd' d='M0 0h40v40H0V0zm40 40h40v40H40V40zm0-40h2l-2 2V0zm0 4l4-4h2l-6 6V4zm0 4l8-8h2L40 10V8zm0 4L52 0h2L40 14v-2zm0 4L56 0h2L40 18v-2zm0 4L60 0h2L40 22v-2zm0 4L64 0h2L40 26v-2zm0 4L68 0h2L40 30v-2zm0 4L72 0h2L40 34v-2zm0 4L76 0h2L40 38v-2zm0 4L80 0v2L42 40h-2zm4 0L80 4v2L46 40h-2zm4 0L80 8v2L50 40h-2zm4 0l28-28v2L54 40h-2zm4 0l24-24v2L58 40h-2zm4 0l20-20v2L62 40h-2zm4 0l16-16v2L66 40h-2zm4 0l12-12v2L70 40h-2zm4 0l8-8v2l-6 6h-2zm4 0l4-4v2l-2 2h-2z'/%3E%3C/g%3E%3C/svg%3E");
            background-position: center;  
      }
        h1 {
    font-size: 3vw; /* Masaüstü için geniş ekranlarda daha büyük */
          
          
}

@media (max-width: 768px) {
    h1 {
        font-size: 4vw; /* Mobil cihazlarda daha uygun bir boyut */
    }
}
#title-pagemain{
    font-size: 35px; /* Masaüstü için geniş ekranlarda daha büyük */
}

@media (max-width: 768px) {
   #title-pagemain{
        font-size: 8vw; /* Mobil cihazlarda daha uygun bir boyut */
    }
}
    #postList {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 20px;
            padding: 20px;
            
        }
.post-card {
    position: relative; /* Ögelerin doğru hizalanabilmesi için */
    background: linear-gradient(135deg, rgba(0, 217, 171, 0.48) 0%, rgba(255, 255, 255, 0) 100%);
    background-position: top left;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    opacity: 0;
    transform: translateY(20px);
    transition: 0.5s ease;
}

.post-card p {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFf;
    font-size: 16px;
    margin: 10px 0;
    padding-bottom: 35px; /* Burada padding-bottom ile altına boşluk ekleyebilirsiniz */
}

.post-card .post-user,
.post-card .post-date {
    position: absolute;
    right: 15px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    color: #FFFFFF;
    transition: text-shadow 0.3s ease-in-out;
}

.post-card .post-date {
    bottom: 15px;
    font-size: 15px;
  text-align:right;
}

.post-card .post-user {
    display: flex;
    align-items: center;
    gap: 8px;
    bottom: 52px;
    font-size: 15px;
}

.profile-image {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

        
        .post-content {
                    background-color: black;
                    background: linear-gradient(135deg, rgba(0, 217, 171, 0.48) 0%, rgba(255, 255, 255, 0) 100%);
                    background-position: top left;
                    backdrop-filter: blur(10px); /* Bulanıklık efekti */
                    -webkit-backdrop-filter: blur(10px); /* Safari desteği */
                    border-radius: 15px; /* Yuvarlak köşeler */
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Hafif gölge */
                    padding: 20px;
                    
                    transform: translateY(20px);
                    transition: 0.5s ease;
                }
        #postContent {
                            color:#FFFFFF;
                        }

        /* Başlangıçta postları gizle */
.post-card.hidden {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.5s, transform 0.5s;
  
}

/* Animasyon sonrası görünür hale gelmesi */
.post-card.show {
    opacity: 1;
    transform: translateY(0);
}


        .post-card:hover {
            transform: scale(1.05);
            box-shadow:0 0 35px rgba(0, 217, 171, 0.3); /* Glow efekti */
        }

        .post-card h3 {
            font-family: "IBM Plex Mono", monospace;
            font-weight: 500;
            font-style: normal;
            margin: 0;
            color:#FFffff;
            font-size:22px;
            transition: text-shadow 0.3s ease-in-out;
        }

        .post-card:hover h3 {
            text-shadow: 0 0 5px rgba(255, 255, 255, 0.8); /* Hafif parlama */
        }

        

        button {
            font-family: "Silkscreen", sans-serif;
            font-weight: 700;
            font-style: normal;
            padding: 8px 15px;
            background-color: #028BBA;
            border-radius: 5px; /* Yuvarlak köşeler */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Hafif gölge */
            border: 1px solid rgba(255, 255, 255, 0.3); /* Şeffaf kenarlık */
            color: white;
            cursor: pointer;
            transition: box-shadow 0.3s ease-in-out;
          position: initial;
  bottom: 15px;
        }

        button:hover {
            background-color: #0083b6;
            box-shadow: 0 0 10px rgba(0, 255, 255, 0.5),  /* Hafif parlama */
                        0 0 20px rgba(0, 255, 255, 0.4), 
                        0 0 30px rgba(0, 255, 255, 0.3); /* Yoğun parlama */
        }

        
#UserNameSpann {
  background: linear-gradient(to left, rgba(0, 0, 0, 0) 2%, rgb(255, 255, 255) 10%);
      -webkit-background-clip: text;
      color: transparent;
      font-family: "IBM Plex Mono", monospace;
        font-weight: 500;
        font-size: 15px;
}
#UserNameSpan {
  
   -webkit-background-clip: text;
      color: white;
      font-family: "IBM Plex Mono", monospace;
        font-weight: 500;
        font-size: 15px;
}


        .post-card:hover .post-date {
            text-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* Hafif parlama */
        }

        .post-card:hover .post-user {
            text-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* Hafif parlama */
        }
        
        .no-posts {
            color: #ffffff;
            font-size: 18px;
            text-align: center;
            grid-column: span 3;
        }
 

main {
            padding: 5px;
            transition: margin-top 0.3s;
        }
.hover-banner {
  position: absolute;
  top: -100%;
  left: 60%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 10000;
}
.today-label {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 700;
    font-style: normal;
    position: absolute;
    top: -3px; /* Kutunun dışına taşırmak için yukarı */
    right: -15px; /* Kutunun dışına taşırmak için sağa */
    font-size: 16px;/* Yazı boyutu */
    color: #FFFFFF; /* Yazı rengi */
    background-color: rgba(0, 0, 0, 0.8); /* Siyah arka plan */
    padding: 5px 15px; /* Etiketin içine boşluk */
    border-radius: 5px; /* Hafif yuvarlatılmış kenarlar */
    text-transform: uppercase; /* Büyük harf */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Hafif gölge efekti */
    transform: rotate(25deg); /* Sağ üst köşeye yatık açı */
    transform-origin: center; /* Dönüşüm merkezi ayarı */
    z-index: 10; /* Üstte görünmesini sağlamak için */
    transition: background-color 0.3s ease, color 0.3s ease; /* Geçiş efekti */
}

.today-label:hover {
    background-color: #009680; /* Hover durumunda arka plan rengi */
    color: #FFFFFF; /* Hover durumunda yazı rengi */
}
.video-container {
            max-width: 300px;
            margin: 0 auto;
        }
.comment-section {
    margin-top: 30px;
    background: linear-gradient(135deg, rgba(0, 217, 171, 0.48) 0%, rgba(255, 255, 255, 0) 100%);
    background-position-x: 0%;
    background-position-y: 0%;
  background-position: top left;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.comment-input-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.comment-input {
    padding: 10px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.8);
  border: none;
  font-size: 16px;
  color: #333;
}


.comment-input::placeholder {
    color: #aaa;
}
.comment-inputt {
    padding: 15px; /* İçeriği daha geniş yapmak için padding'i artırdım */
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.8);
    border: none;
    font-size: 16px;
    color: #333;
    min-height: 100px; /* Yüksekliği artırdım */
}


.comment-inputt::placeholder {
    color: #aaa;
}

.submit-comment-btn {
    padding: 10px 20px;
  background-color: #028BBA;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 15px;
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.submit-comment-btn:hover {
    background-color: #026b8b;
}

.comments-list {
    margin-top: 20px;
}

.comment {
    margin-top: 30px;
    background: linear-gradient(135deg, rgba(0, 217, 171, 0.48) 0%, rgba(255, 255, 255, 0) 100%);
    background-position-x: 0%;
    background-position-y: 0%;
  background-position: top left;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  color:#FFFFFF;
}

.comment-username {
    font-weight: bold;
    margin-bottom: 5px;
  margin-top: auto;
}

.comment-content {
    margin: 0;
  font-weight: normal;
}
